<%- include("header") -%>
<header>
    <h1><img src="/images/logo.png" height="30" width="30"> Chat.Ai</h1>
    <a href="/"><button class="button">AI IMAGE</button></a>
</header>
<p>

</p>
<center>
    <div class="chatinbox">
        <form action="/chat" method="post">
            <input type="text" name="text" class="input" placeholder="Text here to chat">
            <button type="submit" class="button">ASK</button>
        </form>
        <p class="err"><%= errmsg %></p>
        <p>

    </div>

    </p>
        <br>
        <% if(para || que){ %>
        <div class="card">
        <p id="ques">-> <%= que %></p>
        <p id="para"><%= para %></p>
        </div>
    <% }else{} %>
    
</center>

    
<%- include("footer") -%>